*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color:#c5e2f0;
}
.account-section .account-tabs .account-tab-text{
	padding:0px 15px;
}
.account-section .account-tabs .nav-link{
	color: #c5e2f0;
	margin:  5px 5px;
	background-color:#ff8b00;
	/*border-bottom: 1px solid #ccc;*/
}
.account-section .account-tabs .nav-link i{
	padding: 0px 14px;
}
.account-section .account-tabs .nav-link:hover{
	color: #ff8b00;
	background-color:#c5e2f0;
	border: 1px solid #ff8b00;

}
.account-section .account-tabs .tab-text{
	text-align: center;
}
.account-section .account-tabs  h3{
	color: #ff8b00;
}
.account-section .account-tabs  label{
	color: #ff8b00;
}
.account-section .account-tabs .account-profile{
	display: flex;
	justify-content: center;
}
.account-section .account-tabs .account-image{
	width: 150px;
	height: 150px;
	position: relative;
}
.account-section .account-tabs .account-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #ff8b00;
}
.account-section .account-tabs .pencil{
	width: 45px;
	height: 45px;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 50%;
	background-color: #ff8b00;
	color: white;
	position: absolute;
	bottom: 0px;
	right: 10px;
}
.account-section .account-tabs .pwd-icon{
	position: relative;
}
.account-section .account-tabs .show-hide{
	position: absolute;
	top: 43px;
	right: 20px;
	color: #ccc;
}
.account-section .account-tabs .save-btn{
	padding: 10px 50px;
	background-color:#ff8b00;
	border:1px solid #ff8b00;
	color: #c5e2f0;
	font-weight: bolder;
}
.account-section .account-tabs .save-btn:hover{
	background-color:#c5e2f0;
	color: #ff8b00;
	font-weight: bolder;
}
.account-section .account-tabs .save-btn:focus{
	outline: none;
	border: none;
	box-shadow: none;
}




@media only screen and (max-width: 992px){
	.tab-text{
		text-align: center;
	}
}