/*--------filter_products-start--------------------*/
.filter_products {
	background: #F5F5F5;
	padding: 20px 0px;
}
.filter_products .left_result {
	background: #fff;
	border-radius: 10px;
	padding: 10px;
}
.filter_products .left_result .filter_clear  {
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
}
.filter_products .left_result .filter_clear .clerall {
	text-decoration: none;
	color: #0077fb;
	font-weight: 500;
	font-size: 14px;
}
.filter_products .left_result .filter_clear .title {
	font-weight: 500;
	font-size: 17px;
	color: #000;
	font-weight: 500;
}
.filter_products .left_result .search .header {
	font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.filter_products .left_result .search .border_line {
	background: #F5F5F5;
}
.filter_products .left_result .search .border_line .form-control {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #F5F5F5;
}
.filter_products .left_result .search .border_line .form-control:focus {
	box-shadow: none;
}
.filter_products .left_result .search .border_line button i {
	color: #ccc;
}

.filter_products .left_result .category .category_header h5 {
	font-size: 16px;
    margin-top: 12px;
    text-transform: capitalize;
}
.filter_products .left_result .common_collapse .link {
	text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 600;
    color: #555;
}
.filter_products .left_result .all_category .common_collapse .fa-angle-down {
	color: #0077ff;
}
.filter_products .left_result .all_category {
	background: #F5F5F5;
}
.filter_products .left_result .all_category .common_collapse i {
	float: right;
	color: #878787;
    font-size: 17px;
	padding-top: 2px;
}
.filter_products .left_result .all_category .common_down .list_in_common {
    padding: 10px 15px;
    background: #fff;
}
.filter_products .left_result .all_category .common_down .list_in_common a {
	text-decoration: none;
	font-size: 15px;
    font-weight: 500;
    color: #555;
    text-transform: capitalize;
    margin-left: 10px;
}
.filter_products .left_result .all_category .common_down .list_in_common a:hover {
	color: #0077ff;
}
.filter_products .left_result  .price_select .price_header h5 {
	font-size: 17px;
    margin-top: 12px;
    text-transform: capitalize;
}
/*.filter_products .left_result  .price_select .rate .form-check .size {
	width: 13px;
    height: 15px;
}*/
.filter_products .left_result  .price_select .rate .percent_link ,.percent_link{
	display: block;
	text-decoration: none;
    padding-top: 4px;
    font-size: 15px;
    color: #000;
    font-weight: 500;
    margin-left: 10px;
}
.filter_products .left_result  .price_select .rate .form-check-input , .form-check-input{
	width: 1.11rem !important;
    height: 1.25rem !important;
}
.filter_products .left_result  .price_select .rate .doller_min_max {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.filter_products .left_result  .price_select .rate .doller_min_max  .doller_bg {
	background: #F5F5F5;
}
.filter_products .left_result  .price_select .rate .doller_min_max  .doller_bg:focus {
	box-shadow: none;
}
.filter_products .left_result  .price_select .rate .doller_min_max  button {
	text-decoration: none;
    background: #0077ff;
    padding: 7px 9px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: block;
    border-radius: 10px;
}
.filter_products .left_result  .price_select .rate .doller_min_max .go .go_link {
	text-decoration: none;
    background: #0077ff;
    padding: 7px 9px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    display: block;
    border-radius: 10px;
}
.filter_products .left_result .bottom_banner .banner_img {
	width: 100%;
	height: 400px;
}
.filter_products .left_result .bottom_banner .banner_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.filter_salary {
	padding: 10px 0px;
}
.filter_salary .price_clear {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.filter_salary .price_clear a
{
	text-decoration: none;
	color: #0077fb;
	font-weight: 500;
	font-size: 14px;
}
.filter_salary .price_clear span {
	font-weight: 500;
	font-size: 15px;
	color: #000;
}
.filter_salary .min_max {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.filter_salary .min_max .min .select-dropdown select,
.filter_salary .min_max .max .select-dropdown select {
	width: 90px;
	border-radius: 0px;
	border-color: #ccc;
}
.filter_salary .min_max .min .select-dropdown select:focus-visible ,
.filter_salary .min_max .max .select-dropdown select:focus-visible {
	outline: 1px solid #ccc;;
}
/*---------------------------------*/
.right_side_achivers_img_d .archicer_img_d {
	margin-bottom: 20px;
}
.right_side_achivers_img_d .archicer_img_d .a_img_s {
 width: 100%;
 height: 200px;
 position: relative;
}
.right_side_achivers_img_d .archicer_img_d .a_img_s img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 background-repeat: no-repeat;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 display: block;
}
.right_side_achivers_img_d .archicer_img_d .a_details {
	padding: 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #fff;
}
.right_side_achivers_img_d .archicer_img_d .a_details .archivers_name_area {
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 16px;
	font-weight: 500;
}
.right_side_achivers_img_d .archicer_img_d .a_details .short_content {
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	font-size: 15px;
	margin-bottom: 0px;
	color: #878787;
}
.right_side_achivers_img_d .archicer_img_d .a_details span {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 12px;
  font-weight: 500;
	margin-top: 10px;
}
.right_side_achivers_img_d .archicer_img_d .a_details span a {
	color: rgba(106, 199, 234);
}
.right_side_achivers_img_d .archicer_img_d .a_details a {
	text-decoration: none;
}
.right_side_achivers_img_d .archicer_img_d .a_details .user_link {
	font-size: 15px;
	color: #000;
}
.right_side_achivers_img_d .archicer_img_d .a_details .user_link:hover {
	color: rgba(106, 199, 234);
}
.overlay2{
  position: absolute;
  width: 100%;
  height: 0%;
	background: rgba(106, 199, 234, 0.6);
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: all .3s;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.overlay2 a {
	text-decoration: none;
}
.right_side_achivers_img_d .archicer_img_d .a_img_s:hover .overlay2 {
  opacity: 1;
  height: 100%;
}
.right_side_achivers_img_d .archicer_img_d .a_img_s .college_name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	font-size: 16px;
	width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  color: #6AC7EA;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*=========================*/
.all_shops .logo_detaials_follow  {
	padding: 10px;
	box-shadow: 0 0 5px #d3d3d3;
	border-radius: 5px;
	margin-bottom: 20px;
}
.all_shops .logo_detaials_follow .logo {
	display: flex;
	justify-content: center;
}
.all_shops .logo_detaials_follow .logo .logo_img {
	width: 90px;
    height: 70px;
    padding: 2px;
    /* border: 1px solid #D3D3D3; */
    border-radius: 50%;
}
.all_shops .logo_detaials_follow .logo .logo_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
    box-shadow: 0 0 5px #d3d3d3;
}
.all_shops .logo_detaials_follow .detaials h6 {
	font-size: 18px;
    margin-bottom: 5px;
}
.all_shops .logo_detaials_follow .detaials p {
	color: #878787;
    margin-bottom: 5px;
    font-size: 15px;
}
.all_shops .logo_detaials_follow .detaials .place {
	width: 20px;
		height: 20px;
		object-fit: cover;
		margin-right: 10px;
}
.all_shops .logo_detaials_follow .detaials span {
	color: #555;
	font-size: 15px;
	font-size: 15px;
    font-weight: 600;
}
.all_shops .logo_detaials_follow .follow {
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 15px;
}
.all_shops .logo_detaials_follow .follow a {
	text-decoration: none;
    color: #fff;
    background: #0077ff;
    padding: 5px 9px;
    border-radius: 8px;
}
.all_shops .logo_detaials_follow .follow a i {
	font-size: 10px;
    margin-right: 5px;
}
.all_shops .logo_detaials_follow .follow a span {
	font-size: 11px;
    font-weight: 600;
}
/* =======shop_properties @media start=========== */
@media screen and (max-width: 600px) {
	.all_shops .logo_detaials_follow  .detaials {
		text-align: center;
	}
	.all_shops .logo_detaials_follow  .follow {
		display: flex;
	  justify-content: center;
	}
}
/* =======shop_properties @media end=========== */
