.top_blog_sec {
  border-bottom: 1px solid #ccc;
}
.top_blog_sec .top_blog_header {
  padding:  10px 0 ;
}
.top_blog_sec .top_blog_header span {
  font-size: 14px;
}
.top_blog_sec .top_blog_header span a {
  text-decoration: none;
  color: #76cdd8;
}
.top_blog_sec .top_blog_header span .fa-angle-right {
  margin: 0 7px;
  color: #878787;
}
/* ======================== */
.main_blos_sec {
  padding: 50px 0px;
}
.main_blos_sec .view_image_archiver_content .image_size {
  width: 100%;
  height: 450px;
  position: relative;
}
.main_blos_sec .view_image_archiver_content .image_size img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.main_blos_sec .view_image_archiver_content .image_size .date {
  width: 85px;
  height: 65px;
  position: absolute;
  top: 0;
  right: 0;
  background: #76cdd8;
  text-align: center;
  padding: 5px;
  color: #fff;
}
.main_blos_sec .view_image_archiver_content .image_size .date h5 {
  font-size: 25px;
  margin-bottom: 0px;
}
.main_blos_sec .view_image_archiver_content .image_size .date span {
  font-size: 13px;
}
.main_blos_sec .view_image_archiver_content .content {
  padding: 20px 0px;
}
.main_blos_sec .view_image_archiver_content .content .title {
  font-size: 25px;
  color: #878787;
}
.main_blos_sec .view_image_archiver_content .content span {
  font-size: 12px;
  color: #878787;
  font-weight: 500;
  text-transform: uppercase;
}
.main_blos_sec .view_image_archiver_content .content .right {
  margin-left: 15px;
}
.main_blos_sec .view_image_archiver_content .content .content_1 {
  margin-top: 20px;
  color: #878787;
  margin-bottom: 20px;
  font-size: 15px;
}
.main_blos_sec .view_image_archiver_content .content .content_2 {
  color: #878787;
  font-size: 15px;
  margin-bottom: 0px;
}
.main_blos_sec .right_skils .Skil_header {
  background: #e3e3e3;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.main_blos_sec .right_skils .Skil_header span {
  padding-left: 10px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.main_blos_sec .right_skils .skil_percent {
  display: flex;
  justify-content: space-between;
  height: 30px;
    align-items: center;
    margin-bottom: 15px;
}
.main_blos_sec .right_skils .skil_percent .skil {
  width: 200px;
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.main_blos_sec .right_skils .skil_percent .skil i {
  color: #76cdd8;
  margin-right: 10px;
}
.main_blos_sec .right_skils .skil_percent .skil span {
  color: #878787;
  font-size: 12px;
  font-weight: 500;

}
.main_blos_sec .right_skils .skil_percent .percent .num {
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 12px;
  border-radius: 50%;
  background: #76cdd8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_blos_sec .right_skils .pro_img_contents {
  display: flex;
  margin-bottom: 10px;
}
.main_blos_sec .right_skils .pro_img_contents .pro_img .image_size {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.main_blos_sec .right_skils .pro_img_contents .pro_img .image_size img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.main_blos_sec .right_skils .pro_img_contents .content p {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  font-size: 14px;
  color: #878787;
  margin-bottom: 7px;
}
.main_blos_sec .right_skils .pro_img_contents .content span {
  color: #76cdd8;
  font-size: 12px;
  text-transform: uppercase;
}
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
.main_blos_sec .right_skils
