*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.info-section{
	width: 100%;
	height: 800px;
	background-color:#4F65A9;
	position: relative;
	padding: 40px 0px;
}
.info{
	margin: 0 auto;
	width:70%;
	border-radius: 20px;
}
.left-number{
background-color: #3e4061;
width: 40px;
height:40px;
padding: 7px 0px 0px 10px;
border-radius: 30px;
font-weight: bolder;
color:white;	
}
.info-detail{
	width: 100%;
	height:100px;
	padding: 30px 20px 20px 20px;
	display: flex;
	border-bottom: 1px solid rgba(255,255,255,.08);
}
.info-text span{
	font-weight: bolder;
	color: white;
}
.info-text{
	padding-top:7px;
	height: 40px;
}
.info-text-1{
	height: 40px;
}
.info-text span:hover{
	color: white;
}

.space{
	margin-left: 3px;
}
.space-1{
	margin-left: 22px;
}
.space-2{
	margin-left:15px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color:#3E4061;
	border-radius: 17px 0px 0px 0px;
}
.info .nav{
	border-radius: 17px 0px 0px 17px;
}
.nav-pills .nav-link.active .left-number{
	background-color:#4fab40;
}
.info-right-pad{
padding-left: 0px;
}
.info-left{
	height: 640px;
	background-color: #3E4061 !important;
}
.info-right{
	padding-right: 16px;
	padding: 10px;
	height: 640px;
	background-color: white;
}
.info-right input:focus{
	border: 1px solid #ccc;
	box-shadow:none;
}
 .btn-color{
	color: white;
	background-color:#3E4061;
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: bolder;
}
 .btn-color:hover{
	color: white;
	background-color:#4fab40;
	text-decoration: none;
}
.fade textarea:focus{
box-shadow:none;
border: 1px solid #ccc;
}
.fade select{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.fade select:focus{
	outline: none;
	border: 1px solid #ccc;
}
label{
	font-weight: bolder;
}
.form-group p{
	font-weight: bolder;
}
.form-check-label{
	font-weight: 400;
}
.genderr{
	margin-bottom: 5px;
}
.info-left-pad{
	padding-right:1px;
}





/*--=-=-=-=-=-sucesss=-=-=-=--=-=-=-----------*/
.suceess-section{
	height:625px;
	background-color:#4F65A9;
	position:relative;
}
.last{
	padding-top: 130px;
}
.finish{
	width: 23%;
	margin: 0 auto;
}
.suceess-image{
	width:250px;
	height: 250px;
	background-color:#58FF03;
	border-radius: 50%;
	position: relative;
}
.suceess-image i{
	position: absolute;
	font-size: 100px;
	left: 75px;
	top: 80px;
	color: white;
 }
 .suceess-image h4{
 	font-size: 80px;
 	position: absolute;
 	top: 270px;
 	left:-30px;
 	color: white;
 }
.success-text{
	width: 50%;
	margin: 0 auto;
	color: white;
}
.success-text p{
	position: absolute;
	bottom: 60px;
}


 @media only screen and (max-width:1024px) {
  .suceess-section{
	height: 1360px;
}
.success-text p{
	position: absolute;
	bottom:600px;
}
.last{
	padding-top: 300px;
}
}
@media only screen and (max-width: 992px) {
   .info{
  	width:90% !important;
  }
  .info-left{
  	height: 750px !important;
  }
  .info-right{
  	height: 750px !important;
  }
  .info-section{
	width: 100%;
	height: auto;
	background-color:#4F65A9;
	position: relative;
	padding: 40px 0px;
}
.suceess-section{
	height:69vh;
}
.last{
	padding-top: 360px;
}
.success-text p{
	position: absolute;
	bottom:500px;
}
}
 @media only screen and (max-width: 600px) {
 .suceess-section{
	height:2118px !important;
}

}

