*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navbar-section{
	background-color:#231f20;
}
.navbar-section .navbar{
	padding: 0px;
}
.navbar-section .nav-menus{
		padding: 13px;
}
.navbar-section .nav-item{
	padding: 0px 3px;
}
.navbar-section .nav-item a{
	border-right: 2px solid white;
	padding: 0px 1px;
	margin: 0px 5px;
	font-size: 13px;
	font-weight: bolder;
}
.navbar-section .nav-item .nav-link{
	color: white;
	padding-right: 15px;
}
.navbar-section .nav-item .nav-link:hover{
	color: rgb(118, 205, 216);
}
.navbar-section .career a{
	border-right: none;
}
.navbar-section .navbar-brand{
	color: white;
}
.navbar-section .navbar-brand:hover{
	color: white;
}
.navbar-section .navbar-toggler{
	color: white;
}


.main_slider .carousel .carousel-inner .slider_img_size {
  width: 100%;
  height: 450px;
}
.main_slider .carousel .carousel-inner .slider_img_size img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}
.main_slider .carousel .carousel-inner .bg_transprent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  background-color: rgba(0,0,0,0.3);
}
/* services */
.services_sec {
  padding: 50px 0px;
}
.services_sec .img_content {
	text-align: center;
	position: relative;
}
.img_content .content .header {
	position: relative;
}
.img_content .content .header .title {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.img_content .content .header .title::before {
	content: "";
	position: absolute;
	top: 35px;
	width: 40px;
	height: 2px;
	background: #76cdd8;
}
.services_sec .services_header .double {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
	position: relative;
}
.services_sec .text-center {
  text-align: center;
}
.services_sec .color-white {
  color: #fff;
}
.services_sec {
	position: relative;
}
.services_sec .services_header {
	position: relative;
	margin-bottom: 30px;
}
.services_sec .services_header .fa-heart {
	position: absolute;
    top: 57px;
    right: 548px;
    font-size: 12px;
		color: #000;
}
.services_sec .services_header .double::before {
    content: "";
    position: absolute;
    top: 65px;
    right: 495px;
    width: 50px;
    height: 2px;
    background: #ffc000;
}
.services_sec .services_header .double::after {
    content: " ";
    position: absolute;
    top: 65px;
    left: 495px;
    width: 50px;
    height: 2px;
    background: #ffc000;
}


.hex {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 103.92px; /* width * 0.866 */
  background: #76cdd8;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
	margin: 0 auto;
  position: absolute;
  top: 2px; /* equal to border thickness */
  left: 2px; /* equal to border thickness */
  width: 116px; /* container height - (border thickness * 2) */
  height: 99.92px; /* container height - (border thickness * 2) */
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
	display: flex;
  justify-content: center;
  align-items: center;
}
.hex-background i {
	font-size: 40px;
	color: #fff;
}
/* service end */
.about-section .about-left .about-image {
  width: 100%;
  height: 600px;
}
.about-section .about-left .about-image img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  object-fit: cover;
  border-radius: 10px;

}
.about-section .about-right {
	background: #76cdd8;
  /* background: #c9db48; */
  padding: 10px;
  height: 600px;
  border-radius: 10px;
}
.about-section .about-right .nav {
  padding: 20px 0px;
}
.about-section .about-right .nav-item .nav-link {
  font-weight: bolder;
    font-size: 13px;
}
.about-section .nav-pills .nav-link.active {
    color: #fff;
    background-color: #ffc000 !important;
}
.about-section .tab-content .tab-para {
  color: #fff;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 0.5px;
}
.about-section .about-right .skill span {
  color: white;
  font-weight: 500;
}
.about-section .about-right .experience .years {
  color: #000;
}
.about-section .about-right .experience .ins {
  color: #fff;
  font-weight: bolder;
}
.about-section .about-right .experience p {
  color: #555;
}
.about-section .about-right .experience i {
    padding: 0px 5px;
}
.about-section .commen_header_color {
    font-weight: bolder;
    color: #ffc000;
}

/*contact-section*/
.contact-section{
	background-color: #c5e2f0;
	color: #000;
}
.social_icon {
	width: 40px;
	height: 40px;
	border: 3px solid #76cdd8;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	color: #ff8b00;
}

.contact-section .fb{
	padding-left: 11px!important;
}
.contact-section .d-flex .address {
    font-size: 25px;
    line-height: 50px;
    margin-right: 15px;
}
.contact-section .d-flex .envelope {
    font-size: 20px;
    line-height: 25px;
    margin-right: 15px;
}
.contact-section .d-flex .mobile {
    font-size: 25px;
    line-height: 30px;
    margin-right: 15px;
    margin-left: 3px;
}
/* .contact-section  h2{
	border-bottom: 4px solid #76cdd8;
	width: 55px;
} */
.form-control:focus{
	box-shadow: none;
	outline: none;
	border: none;
}
.orange-heading{
	color:#ff8b00;
}
.contact-icon {
	color:#ff8b00;
}
.msg-btns{
	width: 150px;
  height: 40px;
  border: #76cdd8;
	background-color: #76cdd8;
	color: #000;
	outline: none;
	border-radius: 50px !important;
	box-shadow: none;
	font-weight: 500;
}
.msg-btns:focus {
	outline: none;
	box-shadow: none;
}

/*--------------------------------------------*/
.copy-rights-section{
	background-color: #223;
	color: #999999;
}
.copy-rights-section a{
	color: #ff8b00;
}
.copy-rights-section a:hover{
	color: #b36100;
}
/*-----------------------------------------------------*/



 @media only screen and (max-width:1366px) {

}
@media only screen and (max-width: 992px) {
   .navbar-section .nav-item a {
    border: 0px solid white !important;
  }
  .navbar-section .nav-item{
    padding: 10px 3px;
  }
	.services_sec .services_header .fa-heart {
		display: none;
	}
	.services_sec .services_header .double::before {
		display: none;
	}
	.services_sec .services_header .double::after {
		display: none;
	}
	.about-left {
		margin-bottom: 20px;
	}
}
 @media only screen and (max-width: 600px) {
  .navbar-section .nav-item a {
    border: 0px solid white !important;
  }
	.about-left {
		margin-bottom: 20px;
	}
 }
